{% extends "layout.html" %}
{% block content %}
<div class="top-section">
    <h4 id="title" class="title-roboto strong">
     You're almost there!
    </h4>
    <h4 id="desc_begin" class="title-roboto strong">
        Become a certified human AI detector by taking the last quiz
    </h4>
  
    <div class="center-image">
      <img src="{{ url_for('static', filename='pictures/beginquiz.png') }}" alt="robot saying hi" style="width: 300px; height: auto;">
    </div>
</div>

<div class="button-container">
  <button id="back-bq-button" data-back-id="5">Back</button>
  <button id="redo-learning">Redo Learning</button>
  <button id="begin-quizzes">Begin Quiz</button>
</div>

<script src="{{ url_for('static', filename='routing.js') }}"></script>
{% endblock %}
